.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table {
  background-image: url('https://img.freepik.com/fotos-gratis/tela-vazia-branca_1194-7555.jpg?w=826&t=st=1678762722~exp=1678763322~hmac=50f055bed235f7973760a8e129554d7a328e40e7697ae1c3a47305e60454ac8c');
}

a { 
  color: white; } 