body {
	background-image: url(../../frontend/public/fundo.jpg);
  
	background-size: cover;
	background-position: top center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  
}

footer{
	position: fixed;
    bottom: 30px;;
	
	
}
